@page
@model HaCongHieuRazorPages.Pages.CategoryManagement.CategoryViewModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>List Categories</title>
    <link rel="stylesheet" href="~/css/CategoryCSS/CategoryView.css" />
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>List of Categories</h1>
            <a class="btn-create" asp-page="/CategoryManagement/CategoryCreate">Create Category</a>
        </div>
        <div class="error-message">@Model.ErrorMessage</div>
        <div class="table-container">
            <table class="category-table">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Category Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var category in Model.categories)
                    {
                        <tr>
                            <td>@category.CategoryId</td>
                            <td class="category-name">@category.CategoryName</td>
                            <td class="category-description">@category.CategoryDesciption</td>
                            <td>
                                <a class="btn-update" asp-page="/CategoryManagement/CategoryUpdate" asp-route-id="@category.CategoryId">Update</a>
                                <a class="btn-delete" asp-page="/CategoryManagement/CategoryDelete" asp-route-id="@category.CategoryId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>